/***
Jiaying Lin
Oct 12, 2020
***/


div div{
	border: 3px solid black;
	text-align: center;
	width: 350px;
	height: 300px;
}

div div:hover {
  background-color: white;
}

#bottomBox {
	display: flex;
	text-align: center;
	margin: 50px auto 10px auto;
	width: 1050px;
	
}

#bottomBox2 {
	display: flex;
	width: 1050px;
	margin: 0 auto 0 auto;
	text-align: center;
}
